/* Задача___1 */

/* .flex-container {
  width: 400px;
  display: flex;
}
[class|="item"] {
  flex-basis: 50px;
}

.item-1 {
  flex-grow: 1;
}
.item-2 {
  flex-grow: 0;
}
.item-3 {
  flex-grow: 1;
}
.item-4 {
  flex-grow: 0;
} */



/* Задача___2 */

/* .flex-container {
  width: 500px;
  display: flex;
}
[class|="item"] {
  flex-basis: 100px;
  flex-grow: 1;
} */



/* Задача___3 */

.flex-container {
  width: 600px;
  display: flex;
}
[class|="item"] {
  flex-basis: 100px;
}
.item-1, .item-2 {
  flex-grow: 0;
}
.item-3, .item-4 {
  flex-grow: 1;
}