.wrap {
  width: 500px;
  display: flex;
  align-items: flex-end;
  height: 100px;
  border: 1px solid;
  padding: 10px;
}
div div {
  width: 75px;
  border: 1px solid black;
}
.center {
  align-self: center;
}
.end {
    align-self: flex-end;
}
.base {
    align-self: baseline;
}
